<div class="container">
  <div class="card">
    <div class="inner-box" id="card" >
      <div class="card-front" >
        <h1>Login</h1>
        <form>
          <input type="email" class="input-box" placeholder="Your Email Id" required>
          <input type="password" class="input-box" placeholder="Password" required>
          <button type="submit" class="btn-submit">Submit</button>
          <input type="checkbox"><span>Remember Me</span>
        </form>
        <button type="button" class="btn" (click)="openSignup()">I'm new here</button>
        <a href="" class="text-forgot-password">Forgot Password</a>
      </div>
      <div class="card-back">
        <h1>Register</h1>
        <form>
          <input type="email" class="input-box" placeholder="Your Email Id" required>
          <input type="password" class="input-box" placeholder="Password" required>
          
        </form>
        <button type="button" class="btn" (click)="openLogin()">I've an account</button>
        <a href="" class="text-forgot-password">Forgot Password</a>
      </div>
    </div>
  </div>
</div>